body {
    background-image: url("../images/tot.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#tot_header {
    font-family: Luminari, fantasy;
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
}

section {
    background-color: darkred;
    border-style: solid;
    border-color: white;
}

.nav_menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: darkred;
    text-decoration: none;
    padding: 16px;
}

.nav_menu a {
    display: block;
    font-family: Luminari, fantasy;
    background-color: antiquewhite;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
    color: white;
    text-align: center;
    padding: 13px;
    font-size: larger;
    text-decoration: none;
}

.nav_menu a:hover {
    background-color: white;
    color: antiquewhite;
    transition-duration: 0.2s
}

.nav_menu a.nav_page {
    background-color: white;
    font-size: x-large;
    color: antiquewhite;
}

.main_body {
    display: grid;
    grid-template-columns: 25% auto 25%;
}

.quotes {
    font-family: Luminari, fantasy;
    text-align: center;
    font-style: italic;
    margin-top: 40%;
    font-size: 50px;
    color: white;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
}

.tots_slideshow {
    padding: 32px 16px;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.tot_item {
    width: 100%;
    height: 100%;
}

.tot_pic {
    border: 16px solid darkred;
    width: 100%;
    height: 100%;
}

#contact_info {
    width: 160px;
    margin: 0 auto;
}

.contact {
    font-family: Luminari, fantasy;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
}

#location {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}