
body {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-image: url("../images/tots.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: Luminari, fantasy;
    font-size: 48px;
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
    margin: unset;
}

h2 {
    font-family: Luminari, fantasy;
    font-size: 36px;
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

p {
    font-family: Luminari, fantasy;
    font-size: 24px;
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

section {
    background-color: darkred;
    border-style: solid;
    border-color: white;
}

section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

#tot_header {
    font-family: Luminari, fantasy;
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
}

#order_categories {
    margin: auto;
}

#order_menu, .menu_item{
    margin: auto;
    border-style: unset;
    background-color: unset;
}

.topnav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: darkred;
    /*padding-left: 16px;*/
    /*padding-right: 16px;*/
    padding: 16px;
}

.topnav a {
    display: block;
    font-family: Luminari, fantasy;
    background-color: antiquewhite;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
    color: white;
    text-align: center;
    padding: 13px;
    font-size: large;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: antiquewhite;
}

.topnav a.active_page {
    background-color: white;
    font-size: x-large;
    color: antiquewhite;
}

.category_list {
    padding: 0;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    justify-content: center;
}

.category_img {
    display: block;
    max-width: 160px;
    max-height: 160px;
    padding: 20px;
}

li img:hover {
    background-color: antiquewhite;
}

.category_text {
    position: relative;
    top: -2.5em;
    margin-left: 15%;

    font-family: Luminari, fantasy;
    font-size: larger;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

.food {
    font-size: x-large;
}

.fdetails {
    font-size: larger;
}