
body {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    background-image: url("../images/tot.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: Luminari, fantasy;
    font-size: 48px;
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
    margin: unset;
}

h2 {
    font-family: Luminari, fantasy;
    font-size: 36px;
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

p {
    font-family: Luminari, fantasy;
    font-size: 24px;
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

section {
    background-color: darkred;
    border-style: solid;
    border-color: white;
}

a {
    text-decoration: none;
}

#tot_header {
    font-family: Luminari, fantasy;
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
}

#order_categories {
    margin: auto;
}

#order_menu, div.menu_item section {
    margin: auto;
    border-style: unset;
    background-color: unset;
}

.menu {
    display: flex;
    flex-direction: column
}

.menu_item {
    display: flex;
}

.menu_item_column {
    flex: 70%;
}

.cart_button, .checkout_button {
    flex: 30%;

    position: relative;
    top: 2em;
    margin-right: 15px;

    height: 50%;

    background-color: antiquewhite;
    border-style: solid;
    border-color: black;

    padding: 15px 32px;

    text-align: center;
    text-decoration: none;
    font-family: Luminari, fantasy;
    color: black;
    font-size: large;
}

.cart_button:hover, .checkout_button:hover {
    background-color: darkred;
    border-style: solid;
    border-color: white;
    color: antiquewhite;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;

    transition-duration: 0.2s;
}

.topnav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: darkred;
    padding: 16px;
}

.topnav a {
    display: block;
    font-family: Luminari, fantasy;
    background-color: antiquewhite;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
    color: white;
    text-align: center;
    padding: 13px;
    font-size: large;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: antiquewhite;

    transition-duration: 0.2s;
}

.topnav a.active_page {
    background-color: white;
    font-size: x-large;
    color: antiquewhite;
}

.category_list {
    padding: 0;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    justify-content: center;
}

.category_img {
    display: block;
    width: 160px;
    height: 160px;
    padding: 20px;
}

li img:hover {
    background-color: antiquewhite;

    transition-duration: 0.4s;
}

.category_text {
    position: relative;
    top: -2.5em;
    margin-left: 15%;

    font-family: Luminari, fantasy;
    font-size: larger;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

.food {
    font-size: x-large;
}

.fdetails {
    font-size: larger;
}

.cart {
    position: absolute;
    top: 345px;
    right: 1%;

    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
}

.fixed_cart {
    position: fixed;
    top: unset;
    right: 1%;

    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
}

.cart:hover {
    background-color: darkred;
    border-color: antiquewhite;
    border-style: solid;

    transition-duration: 0.4s;
}

.cart_img {
    display: block;
    width: 70px;
    height: 70px;
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_header {
    padding: 2px 16px;
    background-color: darkred;
    color: antiquewhite;
}

.modal_body {
    padding: 2px 16px;
}

.modal_footer {
    padding: 2px 16px;
    background-color: darkred;
    color: antiquewhite;
}

.modal_content {
    background-color: antiquewhite;
    margin: 2% auto;
    padding: 20px;
    border-style: solid;
    border-color: black;
    width: 60%;
}

.modal_cart_item {
    display: flex;
}

.modal_cart_item p {
    flex: 50%;
}

.modal_checkout {
    display: flex
}

.modal_checkout p, .modal_checkout div {
    flex: 50%;
}

.modal_checkout div {
    display: flex;
}

div label {
    position: relative;
    top: 1.9em;
    /*margin-right: 15px;*/
}

div input {
    flex: 50%;

    position: relative;
    top: 1.5em;
    margin-right: 15px;

    height: 40%;
}

div .checkout_button {
    flex: 50%;

    position: relative;
    top: 0.5em;
    margin-right: 15px;

    height: 80%;
}

.close {
    color: black;
    float: right;
    font-size: x-large;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}