
body {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-image: url("../images/tots.jpg");
    background-size: cover;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

h2 {
    font-size: 36px;
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

p {
    font-size: 24px;
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

div {
    background-color: darkred;
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
}

.category_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.category_img {
    display: block;
    max-width: 160px;
    max-height: 160px;
    padding: 20px;
}

.category_text {
    position: relative;
    top: -2.5em;
    margin-left: 15%;
    font-size: larger;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}