h1{

    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
}



body{
    background-image: url("https://cdn.discordapp.com/attachments/808443370736320523/823596944227041390/tots.jpg");
    font-family:  Luminari, fantasy;

}
nav {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkred;
    padding: 16px;

}
.nav_bar {
    display: block;
    font-family: Luminari, fantasy;
    background-color: antiquewhite;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 2px 0 black, 0 -1px black, 0 2px black;
    padding: 13px;
}
.nav_bar:hover {
    background-color: white;
}

#points_label
{
   text-align: right;

    color: white;

}
p span {
    background-color: darkred;
}


table  {

    border: 1px solid white;
    background-color: darkred;

  margin-top:100px;
    margin-left: 500px;
    margin-right: auto;
}
caption {
    border: 1px solid white;
    background-color: darkred;
}

.Add_to_cart
{



}
#login{
    float: right;


}