body{
    background-image: url("taters.jpg");
    font-family: Luminari, fantasy;
    color: white;
}
h1{
    font-size: xxx-large;
    text-align: center;
    text-decoration: underline;
}

h3{
    text-align: center;
    text-decoration: underline;
}

.food{
    padding-left: 35%;
}

.fdetails{
    padding-left: 40%;
}

#head{
    border: 3px solid black;
    text-align: center;
}

#Apps{
    border: 3px solid black;
}

#Healthy{
    border: 3px solid black;
}

#Entrees{
    border: 3px solid black;
}

#Sandwich{
    border: 3px solid black;
}

#Seafood{
    border: 3px solid black;
}

#sides{
    text-align: center;
    border: 3px solid black;
}

#drinks{
    text-align: center;
    border: 3px solid black;
}