
body {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-image: url("./images/tots.jpg");
    background-size: cover;
}

h1, p {
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}

p {
    font-size: large;
}

.category_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    justify-content: center;

    background-color: darkred;
    border-style: solid;
    border-color: white;
}

.category_img {
    display: block;
    max-width: 160px;
    max-height: 160px;
    padding: 20px;
}

.category_text {
    position: relative;
    top: -2.5em;
    margin-left: 15%;
    font-size: larger;
    color: white;
    text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
}