
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.category_list {
    list-style-type: none;

    align-self: center;
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.category_img {
    display: block;
    max-width: 160px;
    max-height: 160px;
    padding: 10px;
}

.category_text {
    position: relative;
    top: -2.5em;
    margin-left: 15%;
    font-size: larger;
    color: white;
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
}